################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studo 2015 cache/options directory
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*

#exclude all files in jspm_packages folder
**/jspm_packages/*

#exclude all files in node_modules folder
**/node_modules/*

# Visual Studio profiler
*.psess
*.vsp
*.vspx