@{
    ViewBag.Title = "About";
}
<style>
    h2{
        color:wheat;
    }
    .list-group-item-text{
        color:black !important;
    }
    div.panel{
       
    }
    div.panel-body{
         min-height:10em;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Secured Banking Webites</h3>
                        </div>
                        <div class="panel-body">
                            <p>It adds an extra layer of security for your banking applications. Your user id and password are not enought to cut it. Hackers will now need to wear your masks to steal your money.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Social Network</h3>
                        </div>
                        <div class="panel-body">
                            <p>It can secure your social network account. No more embarrassing tweets from a hacked account.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Secured Login for Cab Services</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                For Cab services like Uber, they have already started to implement it. They make sure that your driver is not slacking off by sending someone else in his place
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


