@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h1>Face#</h1>
                <p class="lead">If you are seeing this page, it means you have been authenticated with our super secure Login System</p>
                <p class="lead">Possibilities are endless.</p>
                <p>
                    @Html.ActionLink("Learn More", "About", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>